# Virtual environment
smart_glasses_proj/

# Python byte-compiled files
__pycache__/

#cropped_image
imagefiles/cropped.png

#API KEYS
.env
.streamlit/secrets.toml

#temperary
audiofiles_Noah/

#model
*.pt