groq==0.5.0
python-dotenv==1.0.0
opencv-python==4.9.0.80
SpeechRecognition==3.10.4
streamlit==1.35.0
PyPDF2==3.0.1
langchain==0.2.0
langchain_community==0.2.0
easyocr==1.7.1
cvzone==1.6.1
ultralytics==8.2.32
pyttsx3==2.90
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
PyAudio==0.2.14
gTTs==2.5.1
pygame==2.5.2
mediapipe==0.10.14